@use './animatic';
@use './discover';

.header_shodow {
  box-shadow: 0 6px 6px #444141;
}

.artistHero {
  .artistHero_img {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    .artist_hero_img {
      width: 100%;
      object-fit: cover;
      height: 250px;
    }

    .avatar_hero_box {
      position: absolute;
      bottom: -25%;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.artist_discover {
  .discover_fil {
    width: 100%;
    padding: 10px 30px 0 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0;

    .filter_item {
      width: 100%;
      padding: 19px 21px;
      font-size: 16px;
      font-weight: 600;
      line-height: 22.4px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid transparent;
      color: #858584;
      transition: all 0.3s;

      span {
        background-color: #3b3b3b;
        font-size: 12px;
        font-weight: 400;
        line-height: 13.2px;
        border-radius: 20px;
        padding: 5px 10px;
        margin-left: 12px;
      }

      &:hover {
        color: #fff;
        border-color: #858584;

        span {
          background-color: #858584;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .artistHero {
    .artistHero_img {
      .avatar_hero_box {
        padding: 0 72px;
        justify-content: start;
      }
    }
  }
}

@media (min-width: 1023px) {
  .artistHero {
    .artistHero_img {
      .avatar_hero_box {
        padding: 0 110px;
      }
    }
  }
}