.hero {
  padding: 40px 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  .hero_text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .hero_title {
      font-size: 28px;
      font-weight: 600;
      line-height: 39.2px;
    }

    .hero_desc {
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
    }
  }

  .hero_img {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;

    .hero_img_text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 22px 20px;
      background-color: #3b3b3b;

      img {
        max-height: 200px;
        display: block;
      }

      h3 {
        font-size: 22px;
        font-weight: 600;
        line-height: 30.8px;
      }

      .hero_img_avatar {
        gap: 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
      }
    }
  }

  .hero_btnK {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .hero_btn {
      gap: 12px;
      display: flex;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 22.4px;
      color: #fff;
      padding: 19px 0;
      border: none;
      border-radius: 20px;
      background-color: #A259FF;
    }

    .hero_kbox {
      display: flex;
      justify-content: space-between;
      gap: 16px;

      .hero_kitem {
        width: 31%;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;

        h2 {
          font-size: 22px;
          font-weight: 700;
          line-height: 35.2px;
        }
      }
    }
  }
}

@media (min-width: 0px) {
  .hero {
    .dn_btnk {
      display: none;
    }

    .hero_btnK {
      width: 90%;
    }
  }
}

@media (min-width: 400px) {
  .hero {
    .hero_img {
      width: 90%;
    }
  }

  .hero_btnK {
    justify-content: center;
    width: 85%;
  }
}

@media (min-width: 768px) {
  .hero {
    align-items: start;
    padding: 80px 72px;
    display: flex;
    flex-direction: row;
    gap: 30px;

    .hero_text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 48%;

      .hero_title {
        font-size: 38px;
        font-weight: 600;
        line-height: 45px;
      }

      .dn_btnk {
        display: flex;
        gap: 20px;

        .hero_btn {
          width: 224px;
        }
      }
    }

    .hero_img {
      width: 48%;
    }

  }

  .hero>.hero_btnK {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hero {
    align-items: start;
    padding: 80px 110px;

    .hero_text {
      .hero_title {
        font-size: 67px;
        line-height: 73px;
      }

      .hero_desc {
        line-height: 35px;
      }
    }
  }
}