@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;800;900&display=swap);
.hero {
  padding: 40px 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.hero .hero_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero .hero_text .hero_title {
  font-size: 28px;
  font-weight: 600;
  line-height: 39.2px;
}
.hero .hero_text .hero_desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}
.hero .hero_img {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
}
.hero .hero_img .hero_img_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 22px 20px;
  background-color: #3b3b3b;
}
.hero .hero_img .hero_img_text img {
  display: block;
}
.hero .hero_img .hero_img_text h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
}
.hero .hero_img .hero_img_text .hero_img_avatar {
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}
.hero .hero_btnK {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero .hero_btnK .hero_btn {
  gap: 12px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  color: #fff;
  padding: 19px 0;
  border: none;
  border-radius: 20px;
  background-color: #A259FF;
}
.hero .hero_btnK .hero_kbox {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.hero .hero_btnK .hero_kbox .hero_kitem {
  width: 31%;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}
.hero .hero_btnK .hero_kbox .hero_kitem h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
}

@media (min-width: 0px) {
  .hero .dn_btnk {
    display: none;
  }
  .hero .hero_btnK {
    width: 90%;
  }
}
@media (min-width: 400px) {
  .hero .hero_img {
    width: 90%;
  }
  .hero_btnK {
    justify-content: center;
    width: 85%;
  }
}
@media (min-width: 768px) {
  .hero {
    align-items: start;
    padding: 80px 72px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .hero .hero_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48%;
  }
  .hero .hero_text .hero_title {
    font-size: 38px;
    font-weight: 600;
    line-height: 45px;
  }
  .hero .hero_text .dn_btnk {
    display: flex;
    gap: 20px;
  }
  .hero .hero_text .dn_btnk .hero_btn {
    width: 224px;
  }
  .hero .hero_img {
    width: 48%;
  }
  .hero > .hero_btnK {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hero {
    align-items: start;
    padding: 80px 110px;
  }
  .hero .hero_text .hero_title {
    font-size: 67px;
    line-height: 73px;
  }
  .hero .hero_text .hero_desc {
    line-height: 35px;
  }
}
.trending {
  padding: 40px 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.trending .trending_box {
  display: flex;
  gap: 4%;
  width: 100%;
}
.trending .trending_text {
  padding-bottom: 40px;
}
.trending .trending_text .trending_title {
  font-size: 28px;
  font-weight: 600;
  line-height: 39.2px;
  padding-bottom: 10px;
}
.trending .trending_text .trending_desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}
.trending .trending_auther {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.trending .trending_auther:nth-child(2), .trending .trending_auther:nth-child(3) {
  display: none;
}
.trending .trending_auther > img {
  padding-bottom: 15px;
  width: 100%;
}
.trending .trending_auther .trending-imgs-box {
  width: 100%;
  display: flex;
  gap: 3.5%;
}
.trending .trending_auther .trending-imgs-box img {
  width: 31%;
}
.trending .trending_auther > h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
}
.trending .trending_auther > p {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

@media (min-width: 768px) {
  .trending .trending_auther {
    width: 48%;
  }
  .trending .trending_auther:nth-child(2) {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .trending .trending_auther {
    width: 31%;
  }
  .trending .trending_auther:nth-child(3) {
    display: flex;
  }
  .trending .trending_text {
    padding-bottom: 60px;
  }
  .trending .trending_text .trending_title {
    font-size: 38px;
    line-height: 45.6px;
  }
  .trending .trending_text .trending_desc {
    font-size: 22px;
    line-height: 35.2px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.df {
  display: flex;
  align-items: center;
}

.dn {
  display: none;
}

body {
  background-color: #2B2B2B;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}
.header_nav .header_right {
  gap: 10px;
}
.header_nav .header_list {
  list-style: none;
}
.header_nav .header_list .header_link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  padding: 12px 20px;
}
.header_nav .header_btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  padding: 19px 30px;
  gap: 12px;
  background-color: #A259FF;
  border-radius: 20px;
  border: none;
  color: #fff;
}

@media (min-width: 1024px) {
  .header_right {
    display: flex;
  }
  .navMenu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */